<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Sam's Amazing Cart</h2>
<ul>
  <% @cart.line_items.each do |item| %>
    <li><%= item.quantity %>&times;<%= item.product.title %></li>
  <% end %>
</ul>
<p>
  Your cart id: <%= @cart.id %>
</p>